body {
	font: 1.8rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	align-items: center;
	color: #444;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 800px;
}

.linkBody {
	margin: 2rem auto 15rem;
}

.image {
	display: flex;
	justify-content: center;
}
